/* Globale CSS */

@import url("https://fonts.googleapis.com/css2?family=Dosis&family=Poppins:wght@300;400;500;600&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Dosis", sans-serif;
  font-family: "Poppins", sans-serif;
}
p {
  color: rgb(85, 85, 85);
}
a {
  color: black;
  cursor: pointer;
  text-decoration: none;
  text-decoration-color: white;
  transition: all 300ms ease;
}
a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
}
/* desktop nav  */
#nav--desktop,
.nav--links ul {
  display: flex;
  list-style: none;
  gap: 2rem;
  font-size: 1.5rem;
}
#nav--desktop {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}
.nav--logo {
  font-size: 2rem;
}
/* Hamburger-nav */
#Hamburger-nav {
  justify-content: space-around;
  display: none;
}
.hamburger-menu {
  position: relative;
  display: inline-block;
}
.hamburger-icon {
  padding: 15px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  height: 24px;
  width: 30px;
  justify-content: space-around;
}
.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}
.Menu--links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  overflow: hidden;
  max-height: 0px;
  transition: all 0.3 ease-in-out;
  width: fit-content;
}
.Menu--links a {
  display: block;
  color: black;
  transition: all 0.3 ease-in-out;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}
.Menu--links li {
  list-style: none;
}

.Menu--links.open {
  max-height: 300px;
}
.hamburger-icon.open span:first-child {
  transform: rotate(-45deg) translate(-10px, 5px);
  width: 30px;
}
.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}
.hamburger-icon.open span:last-child {
  transform: rotate(45deg) translate(-5px, -1px);
  width: 30px;
}

.hamburger-icon span:first-child {
  transform: none;
}
.hamburger-icon span:first-child {
  opacity: 1;
}
.hamburger-icon span:first-child {
  transform: none;
}
/* profile css */

section {
  min-height: fit-content;
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
}

#profil {
  display: flex;
  justify-content: center;
  gap: 0rem;
  height: 90vh;
  flex-wrap: wrap;
}
.section-text {
  padding: 80px;
  align-self: center;
  text-align: center;
}
.socials-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.My-img {
  display: flex;
  height: 300px;
  width: 300px;
  margin: auto 0;
}
.icon {
  width: 50px;
  height: 50px;
  margin: 10px;
  cursor: pointer;
}
.title {
  text-align: center;
}
.section-text-p2 {
  font-weight: 600;
  font-size: 1.5rem;
  text-align: center;
}
.section-text-p1 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}
/* button css */
.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}
.btn-resume,
.btn-contact {
  border: rgb(53, 53, 53);
}
.btn-resume:hover,
.btn-contact:hover {
  cursor: pointer;
}

.btn-resume {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: rgb(0, 0, 0) 0.1rem solid;
}

.btn-contact:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}
.btn-contact {
  background: none;
  border: rgb(0, 0, 0) 0.1rem solid;
}

#about {
  position: relative;
}
.section-datails-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 3rem;
  flex-wrap: wrap;
  align-content: center;
}
.about-container {
  display: flex;
  flex: 1;
  margin: 2rem;

  flex-direction: column;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-radius: 2rem;
  background-color: white;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.arrow {
  position: absolute;
  right: 2%;
  bottom: -18rem;
  width: 30px;
  height: 30px;
}
.details-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 2rem 0 2rem;
}
/* css experience */
#Experiences {
  position: relative;
}

.experiences-datails-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.about-containers {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.detail-containers {
  padding: 1.5rem;
  flex: 1;
  background-color: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.experience-sub-title {
  color: rgb(85, 85, 85);
  text-align: center;
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}
.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-around;
  align-content: center;
}
article {
  display: flex;
  width: 10rem;
}
.checkmark {
  width: 35px;
  height: 35px;
  align-items: center;
  margin-top: 1rem;
  margin-left: 1rem;
}
.arrowP {
  position: absolute;
  right: -5rem;
  bottom: 10rem;
  width: 30px;
  height: 30px;
}

/* section Projects css */
#Projects {
  position: relative;
}

.color-container {
  border-color: rgb(163, 163, 163);
  background-color: rgb(255, 255, 255);
}
.project-img {
  border-radius: 2rem;
  width: 70%;
  height: 40%;
}
.project-title {
  margin: 2rem;
  color: black;
}
/* contact css */

#Contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}
.contact-info {
  display: flex;

  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: rgb(255, 255, 255);
  margin: 2rem auto;
  padding: 0.5rem;
}
.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}
.contact-info-container p {
  font-size: large;
}
.linkedin {
  height: 40px;
  width: 40px;
}
/* Footer css */
.Footer {
  /* height: 26vh; */
  margin: 0.1rem;
}
.Footer li a {
  justify-content: center;
}
.Footer p {
  text-align: center;
}
.Footer .nav--links ul {
  text-align: center;
  justify-content: center;
}
